@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Tektur:wght@400..900&display=swap');

:root {
    --BodyBackCol: rgb(156, 215, 255);
    --linkCol: rgb(62, 143, 197);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: "Tektur", sans-serif;
    background-color: var(--BodyBackCol);
}

.contLink {
    background-color: aliceblue;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

a {
    color: var(--linkCol);
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#score {
    margin-top: -100px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
}